################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Application/node_modules
/Application/app/.vs
/Application/app/src/.vs
/Application/app/node_modules
Application/build/contracts/GuarantorManager.json
Application/build/contracts/LoanManager.json
Application/build/contracts/LoanToken.json
Application/build/contracts/LoanTokenSale.json
Application/build/contracts/Migrations.json
